<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>

<property name="hibernate.connection.Driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/ecommerce_management</property>
<property name="hibernate.connection.user">root</property>
<property name="hibernate.connection.password">@Devika#7</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

<property name="hibernate.show_sql">true</property>
<property name="hibernate.hbm2ddl.auto">update</property>

  <mapping class="com.Ecommercemgmt.Entity.Category"/>
<mapping class="com.Ecommercemgmt.Entity.Product"/>
<mapping class="com.Ecommercemgmt.Entity.Customer"/>
<mapping class="com.Ecommercemgmt.Entity.Order"/>
<mapping class="com.Ecommercemgmt.Entity.Inventory"/>
<mapping class="com.Ecommercemgmt.Entity.Payment"/>
<mapping class="com.Ecommercemgmt.Entity.Cart"/>
<mapping class="com.Ecommercemgmt.Entity.Admin"/>



</session-factory>
</hibernate-configuration>